* {
    margin: 0;
    padding: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.searcher {
    width: 90%;
    height: 60px;
    background-color: rgb(238, 235, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

input {
    width: 20rem;
    height: 17px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

button {
    margin-left: 5px;
    padding: 2px;
}

.threep {
    width: 90%;
    height: 90px;    
    display: flex;
    margin-left: auto;
    margin-right: auto;   
    flex-direction: row;
}

.specials {
    width: 35%;  
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
    background-color: rgb(126, 229, 218);   
    margin: 1.5px;       
}

.useful {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 75px;
    background-color: #70CCC2;
    margin: 1.5px;  
    font-size: small;
}

.subscribe {
     width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 75px;;
    background-color: #62B3AA;
    margin: 1.5px;
    
}


.subscribe label {
    font-size: small;
}





.subscribe input {
    width: 200px;
}

.subscribe button {
    padding: 1px;
    margin-right: 10px;
    
}

.subscribe a {
    font-size: small;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.footer p {
    font-size: small;
}